<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="unsubsctibe">
        <p><strong>本当に退会しますか？</strong></p><br />
        <p>退会すると、会員登録情報や</p>
        <p>これまでの購入履歴が閲覧できなくなります。</p>
        <p>退会する場合は、「退会する」をクリックしてください。</p>
        <%= link_to "退会しない", customers_my_page_path, class: 'btn btn-outline-primary btn-sm' %>
        <%= link_to "退会する", customers_withdraw_path, class: 'btn btn-outline-danger btn-sm', method: :patch %>
      </div>
    </div>
  </div>
</div>