<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="title">ジャンル編集</p>
      <%= render "form", genre: @genre, url: admin_genre_path(@genre), submit: "更新" %>
    </div>
  </div>
</div>