/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  background-color: #fff5ea;
}

main {
  padding: 30px 0;
  background-color: #fff5ea;
}

footer {
  width: 100%;
  height: auto;
  background-color: #f7dad9;
  text-align: auto;
  padding: 10px 0;
}

.nav-link {
  color: #968c83;
}

p, h3, td, th {
  color: #968c83;
}

.order-show {
  color: #968c83;
}


.new-items {
  margin: 45px 0;
}

.main-visual {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-image: url(public-top.jpg);
  background-size: cover;
  background-position: center;
}

.image1 {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-image: url(image1.jpg);
  background-size: cover;
  background-position: center;
}
.image2 {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-image: url(image2.jpg);
  background-size: cover;
  background-position: center;
}

.image3 {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-image: url(image3.jpg);
  background-size: cover;
  background-position: center;
}

.image4 {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background-image: url(image4.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  display: none;
  width: 100%;
  height: 400px;
  color: white;
  text-align: center;
  padding-top: 80px;
  background-color: rgba(0, 0, 0, 0.3);
}

.shop-name {
  font-size: 50px;
  font-family: 'Corben', cursive;
}

.title {
  font-size: 20px;
}

.login-table {
  padding: 0 100px;
}

.unsubsctibe {
  text-align: center;
}

.about {
  text-align: center;
}

.title-about {
  font-size: 80px;
  font-family: 'Corben', cursive;
}

.plus-button:hover {
  color: #d2b48c;
  opacity: 1;
  text-decoration: none;
}

.plus-button {
  color: #d2b48c;
  opacity: 0.5;
  text-decoration: none;
}

a:link {color: #d2b48c; text-decoration:none }
a:visited { color: #d2b48c; text-decoration:none }
a:hover { color: #d2b48c; text-decoration:none }
a:active { color: #d2b48c; text-decoration:none }

footer {
  margin-top: 400px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  background-color: rgba(255, 255, 255, 0);    /*背景の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #000000;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.page-item.active .page-link {
  background-color: #696969;
}
